@mixin flex-mother($dir: row, $alignItems: center, $justifyContent: center) {
	display: flex;
	flex-direction: $dir;
	align-items: $alignItems;
	justify-content: $justifyContent;
}

@mixin mq($media) {
	@media (max-width: $media) {
		@content;
	}
}

@mixin positioning($position: absolute, $top: 0, $left: 0, $transform: false) {
	@if ($transform) {
		position: $position;
		top: $top;
		left: $left;
		transform: translate(-50%, -50%);
	} @else {
		position: $position;
		top: $top;
		left: $left;
	}
}
